[submodule "site"]
	path = site
	url = https://github.com/18874studentvgu/M-24_AIBeeSite.git
[submodule "website"]
	path = website
	url = https://github.com/18874studentvgu/M-24_AIBeeSite.git
	branch = ai-img2
